@charset "utf-8";
/* CSS Document */

@import url("reset.css");

#CONTENT {
	margin-left:170px;
	_height:1%;
	padding-top:15px;
	padding-bottom:25px;
}
#CONTENT .BOX {
	width:750px;
	margin:0 auto;
	border:1px dotted #CCCCCC;
	margin-bottom:10px;
}
#CONTENT .BOX h2 {
	font-size:12px;
	font-family:Arial;
	background-color:#FBBBB9;
	color:#000000;
	text-indent:10px;
	line-height:30px;
	letter-spacing:1px;
}
#CONTENT .BOX p {
	font-size:12px;
	font-family:Arial;
	line-height:18px;
	padding:10px;
	letter-spacing:1px;
}
#FOOTER {
	clear:both;
	_height:1%;
	margin:0 auto;
	width:900px;
	height:121px;
	background-image:url(images/down.jpg);
}
#FOOTER h2 {
	font-size:11px;
	font-family:Arial;
	padding-left:20px;
	padding-top:10px;
	font-weight:normal;
	letter-spacing:1px;
}
/****/


.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;   
	
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FBBBB9), to(#FBBBB9));
    background-image: -webkit-linear-gradient(top, #FFFFA1, #FFFFA1);
    background-image:    -moz-linear-gradient(top, #FBBBB9, #FBBBB9);
    background-image:     -ms-linear-gradient(top, #FBBBB9, #FBBBB9);
    background-image:      -o-linear-gradient(top, #FBBBB9, #FBBBB9);
    background-image:         linear-gradient(top, #FBBBB9, #FBBBB9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
	
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
	